 <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1 ALIGN=center>Resit</h1>
        <p ALIGN=center>Tarea proceso de Capacitación</p>
      </div>
    </div>

    <div class="container" ALIGN=center>
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>OBJETIVOS</h2>
          <p>Evaluar cómo adquieres habilidades nuevas y como eres capaz de implementarlas. Como objetivos básicos, tenemos los siguientes:</p>
              <p>● Consultas a API REST</p>
              <p>● Verificar estilos de programación (calidad del código) en Rails</p>
              <p>● Uso de JQuery</p>
              <p>● Llamadas múltiples AJAX</p>
              <p>● Manejo de JavaScript</p>
              <p>● Uso de Frameworks de estilos (Bootstrap)</p>
              <p>● Librería D3 </p>
        </div>
        <div class="col-md-4">
          <h2>PROBLEMAS</h2>
          <p>Hacer una aplicación web simple (Rails) que haga uso de una librería de vista (estilo Bootstrap) y aplicar conocimientos de D3 para mostrar gráficos y tablas con datos reales. </p>
          <p>● Manejo de Tablas</p>
          <p>● Manejo de Gráficos y procesamiento de datos</p>
       </div>
        <div class="col-md-4">
          <h2>ENTREGA</h2>
          <p>● Fecha/Hora : Lunes 16 de Mayo / 13:00</p>
             <p> ● Lugar : Entrega y presentación en Napoleón 3565, oficina 1203A</p>
              <p>● Observaciones: Para el desarrollo de esta tarea se pueden hacer consultas de enunciado o técnicas a las siguientes personas:</p>
              <p>- José Santander: jisantander@uc.cl</p>
              <p>- Andrés Riveros: aariveros@uc.cl</p>
              <p>- Santiago Martí: samarti@uc.cl</p>
        </div>
      </div>

      <hr>
    </div> 

